snippet R "import R from Ramda"
import R from 'ramda';
endsnippet

snippet ram "import ramda function" b
import $1 from 'ramda/src/$1';
endsnippet

snippet rtcl "R.tap(console.log)"
R.tap(console.log),
endsnippet
