snippet esglj "globals"
/* global jest, describe, it, expect */
endsnippet
snippet elno "disable no-"
/* eslint-disable no-${1} */
endsnippet

snippet nocl "disable no-console"
/* eslint-disable no-console */
endsnippet
