snippet asfa "assert.fail" b
assert.fail($1, $2);
endsnippet

snippet asok "assert.ok" b
assert.ok($1);
endsnippet

snippet aseq "assert.equal" b
assert.equal($1, $2);
endsnippet

snippet asdeq "assert.deepEqual" b
assert.deepEqual($1, $2);
endsnippet

snippet asth "assert.throws" b
assert.throws(() => $1, $2);
endsnippet
