snippet imob "import observable" b
import {Observable} from 'rxjs/Observable'
endsnippet

snippet +ajax "add ajax" b
import 'rxjs/add/observable/dom/ajax'
endsnippet

snippet fE "add fromEvent" b
import 'rxjs/add/observable/fromEvent'
endsnippet

snippet ob+ "add observable" b
import 'rxjs/add/observable/$1'
endsnippet

snippet o+ "add operator" b
import 'rxjs/add/operator/$1'
endsnippet
