snippet rxob "rx import observable" b
import {Observable} from 'rxjs/Observable';
endsnippet

snippet rxajax "rx add ajax" b
import 'rxjs/add/observable/dom/ajax';
endsnippet

snippet rxfe "rx add fromEvent" b
import 'rxjs/add/observable/fromEvent';
endsnippet

snippet rxob+ "rx add observable" b
import 'rxjs/add/observable/$1';
endsnippet

snippet rxo+ "rx add operator" b
import 'rxjs/add/operator/$1';
endsnippet
