snippet	muic "import from mui core" b
import $1 from "@material-ui/core/$1";
endsnippet

snippet	muii "import from mui icon" b
import $1Icon from "@material-ui/icons/$1";
endsnippet

snippet	muiws "import withStyles" b
import { createStyles, withStyles } from "@material-ui/core/styles";
endsnippet

snippet	cnc "className={classes.}" w
className={classes$0}
endsnippet
