# COMMANDS
snippet ct "create table" b
CREATE TABLE $1(
	$0
);
endsnippet

# TYPES
snippet pk "primary key" w
PRIMARY KEY ($0)
endsnippet

snippet t "text" w
TEXT
endsnippet

snippet nn "not null" w
NOT NULL
endsnippet

snippet u "unique" w
UNIQUE
endsnippet
