extends typescript
extends jsx

snippet stories "stories"
import * as React from "react";
import { storiesOf } from "@storybook/react";
import { $1 } from "./${2:$1}"

const stories = storiesOf("${3:$1}", module);

stories
  .add("$4", () => $0)
endsnippet
