snippet dc "declare const" b
declare const $1: $0;
endsnippet

snippet dm "declare module" b
declare module '$1';
endsnippet

snippet dcg "declare const graphql" b
declare const graphql: (query: TemplateStringsArray) => void;
endsnippet
