extends javascript

snippet imp "import from" b
import { $0 } from "$1";
endsnippet

snippet im "import from" b
import $0 from "$1";
endsnippet

snippet imc "import component"
import ${0:$1} from "src/components/$1";
endsnippet

snippet imh "import from chakra" b
import { $1 } from "@chakra-ui/react";
endsnippet
